<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .containter {
      padding: 80px 120px
    }
  </style>
</head>
<body>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn btn-default"><a href="{% url 'party_list' %}">Parties Page</a></button>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <button type="button" class="btn btn-default"><a href="{% url 'add_party' %}">Add</a></button>
      </li>
    </ul>
  </div>
</nav>
 <div class="container text-center">{% block content %}{% endblock %}</div>
</body>
</html>


